.navbar-light .navbar-brand{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .na-link{
    color:#fff;
}
mynav text{
    font-size: larger;
    font-weight: 200;
}
.mynav a:hover{
    border-bottom: 2px solid #181174;
}
.carousel-item{
    height:100vh;
    min-height:30px;
    background:no-repeat center scroll;
}
.carousel-caption{
    bottom:270px
}
.carousel-caption h5{
    font-size:45px;
    text-transform:uppercase;
    letter-spacing:20x;
    margin-top:25px;
}
.carousel-caption p{
    width:75%;
    margin:auto;
    font-size:30px;
    line-height:1.9;
}
.bg-dark{
    opacity: 0.6;
}
}
footer{
    height:100%;
    background-color: gray;
    box-shadow: black 5px 5px 5px 5px;
    margin-top:50px;
    Padding-top:50px;
}
.bottom{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.bottom>li{
    text-decoration: none;
    list-style-type: none;
}
#social{
    text-align: center;
}
.fa {
    padding:20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background:#3f729b ;
    color:white;
}
.fa-skype{
    background:#00aff0;
    color:white;
}
.final{
    text-align: center;
}
