.carousel-item{
    height:100vh;
    min-height:30px;
    background:no-repeat center scroll;
}
.carousel-caption{
    bottom:270px
}
.carousel-caption h5{
    font-size:45px;
    text-transform:uppercase;
    letter-spacing:20x;
    margin-top:25px;
}
.carousel-caption p{
    width:75%;
    margin:auto;
    font-size:10px;
    line-height:1.9;
}
.navbar-light .navbar-brand{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .na-link{
    color:#fff;
}
mynav text{
    
    font-size: larger;
    font-weight: 200;
}
.mynav a:hover{
    border-bottom: 2px solid #181174;
}